/* common */
* { margin: 0px; padding: 0px; }
html, body { font-family: Arial; font-size: 12px; color: #8c806e; }
input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
body { background: #fff; }
img { border: 0px; display: block; }
a, input { outline: none; }
.clear { clear: both; height: 0px; overflow: hidden; }
	a{ text-decoration:none;}

.centering{ width:1220px; margin:0 auto;}

/* section  */
#section { position: relative; display: block; width: 100%; min-height: 100%; }

/* page wrap */
#page-wrap { margin: 0 auto; width: 100%; }

	/*header bar*/
	.header-bar{ padding:0px 0px; width:100%; float:left; position:relative;}
	.header-bar .head{ padding:0px 0px; width:100%; float:left; border-bottom:1px solid #555555; border-top:1px solid #555555; position: absolute; top:0px; z-index: 999999; background:rgba(0,0,0,0.4);}
	
	.header-bar .head .top{ width:100%; float:left;}
	.header-bar .head .top .logo{ padding:0px 0px; width:18%; float:left; }
	.header-bar .head .top .logo a{ display:block; }
	.header-bar .head .top .logo img{ max-width:100%;}
	
	.header-bar .head .top .right{ padding:0px 0px; width: 65%; float:right;}
	.header-bar .head .top .right .nav{ padding: 19px 0px; width: 80%; float:left;}
	.header-bar .head .top .right .nav ul{ list-style:none;}
	.header-bar .head .top .right .nav ul li{ padding:0px 13px; display:block; float:left; font-family: 'ralewayregular'; font-size:12px; line-height:20px; font-weight:700; text-transform:uppercase; letter-spacing:2px;}
	.header-bar .head .top .right .nav ul li a{ color:#fff;}
	.header-bar .head .top .right .nav ul li a:hover{ color:#bcd09f;}
	.header-bar .head .top .right .nav ul ul { padding: 10px; min-width: 252px; position: absolute; display: none; background: rgba(255,255,255,0.9); left: 396px; top: 39px; z-index: 9;}
	.header-bar .head .top .right .nav ul li:hover ul { display: block}
	.header-bar .head .top .right .nav ul li ul li { padding: 0px; float: none; font-size: 13px; font-family: 'open_sansbold'; line-height: 35px; color: #fff;}
	.header-bar .head .top .right .nav ul li ul li a {padding: 0px 0px 0px 20px; color: #333333 !important; font-size: 12px; font-family: 'open_sansregular';}
	.header-bar .head .top .right .nav ul li ul li:hover a{padding: 0px 0px 0px 20px; color: #6c003e !important; background: url(../images/l-arrow.png) no-repeat center left}
	.header-bar .head .top .right .nav .box{ width:50%; float:left;  }
	.header-bar .head .top .right .nav .box h3{ color:#000; text-align:center; font-family: 'ralewayregular'; font-size:12px;  }
	.header-bar .head .top .right .nav .box .ex{ width:96%; float:left; border:1px solid #333; margin:0px 13px;}
	.header-bar .head .top .right .nav .box .ex .lt{ width: 34%; float:left;}
	.header-bar .head .top .right .nav .box .ex .lt a{ display:block;}
	.header-bar .head .top .right .nav .box .ex .lt img{ max-width:100%;}
	.header-bar .head .top .right .nav .box .ex .rt{ padding:5px 0px; width: 51%; float:right;}
	.header-bar .head .top .right .nav .box .ex .rt h4{ color:#000; font-size:9px;}
	.header-bar .head .top .right .nav .box .ex .rt a{ color:#000; font-size:9px;}
	
	.header-bar .head .top .right .nav ul li:hover ul{ display: block}
	.header-bar .head .top .right .nav ul li ul li{ float: left; font-family: 'goldoniregular'; font-size:13px; line-height:25px; color:#000; position:relative;}
	.header-bar .head .top .right .nav ul li ul li a{ color:#000;}
	.header-bar .head .top .right .nav ul li ul li a:hover{ text-decoration:underline;}
	.header-bar .head .top .right .sett{ padding: 9px 0px; width:20%; float:right;}
	.header-bar .head .top .right .sett .att{ padding:0px 0px; width: 30%; float:left; margin: 0px 0px 0px 46px;}
	.header-bar .head .top .right .sett .att a{ display:block;}
	.header-bar .head .top .right .sett .att img{ max-width:100%;}
	.header-bar .head .top .right .sett .log{ padding:0px 0px; width: 30%; float:right;}
	.header-bar .head .top .right .sett .log a{ display:block;}
	.header-bar .head .top .right .sett .log img{max-width:100%; } 
	   /*banner bar */
	 
	.header-bar .banner{ padding:0px 0px 0px 0px; width:100%; float:left;}
	.header-bar .banner .flexslider { position: relative; float: left; width:100%;}
	                   /*toggle start*/
	.header-bar .banner .flexslider a.toggle{ position: absolute; left: 22px; top: 73px; z-index: 9999999; display:none;}
    .header-bar .banner .flexslider .categ {  padding: 0px 0px 0px 40px; width: 394px; height: 100%; background: rgba(85,85,85,0.5); position: absolute; top: 0px; left: -680px; z-index: 999999; transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; -moz-transition: 0.3s ease-in; display:none; }
	 
    .header-bar .banner .flexslider .categ.active { left: 0px; transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; -moz-transition: 0.3s ease-in; }
    .header-bar .banner .flexslider .categ ul { list-style: none}
	.header-bar .banner .flexslider .categ h2{ padding: 40px 20px; color: #fff; font-size: 35px; line-height: 40px; font-family: 'pacificoregular'; letter-spacing:3px; font-weight: 400; text-align:center;}
    .header-bar .banner .flexslider .categ ul li { float: none; font-size: 16px; line-height: 35px; float:left; color: #9f1a65; font-size:13px; font-weight: 400; font-family: 'ralewayregular'; position: relative; margin: 13px 7px;}
	.header-bar .banner .flexslider .categ .box{ padding:0px 0px; width:100%; float:left;    }
	.header-bar .banner .flexslider .categ .box .fix{ padding:0px 0px 0px 0px; width:112px; float:left; height:42px; box-shadow: 0px 5px 10px 0px #000; border-radius:20px;  background: rgba(255,255,255,0.9); border:1px solid #6666;}
	.header-bar .banner .flexslider .categ .box .fix:hover{ background: rgba(0,3,51,0.3); }
	
	.header-bar .banner .flexslider .categ .box .fix h2{ padding: 30px 0px; color:#000; font-size:11px; text-align:center; box-sizing:border-box; border-bottom:1px solid #6666; font-family: 'ralewayregular'; }
	.header-bar .banner .flexslider .categ .box .fix a{ color:#000; font-size:13px; font-weight: 400; font-family: 'ralewayregular'; padding: 19px 20px 18px 17px; text-align:center;   }
	.header-bar .banner .flexslider .categ .box .fix a:hover{ padding: 15px 20px 18px 17px; text-decoration:underline; color:#fff;}
	                       /*toggle ends*/

	.header-bar .banner .flexslider ul.slides{ list-style: none; }
	.header-bar .banner .flexslider ul.slides li{ position: relative;}
	.header-bar .banner .flexslider ul.slides li .extra{ width: 40%; position: absolute; top: 44%; left: 32%;z-index:999999; display:none; }
	.header-bar .banner .flexslider ul.slides li .extra h4{ padding: 10px 20px; color: #fff; background:rgba(85,85,85,0.5); font-size: 29px; line-height: 40px; font-family: 'ralewayregular'; letter-spacing:3px; font-weight: 400;}
	.header-bar .banner .flexslider ul.slides li .extra a{ width: 150px; height: 52px; font-size:16px; background:rgba(0,3,51,0.3); color: #fff; display: block; font-family: 'ralewayregular'; font-weight:700; line-height: 53px; text-align: center;}
	.header-bar .banner .flexslider ul.slides li .extra a:hover { background:rgba(85,85,85,0.5); color: #fff;}
	
	
	.header-bar .flex-direction-nav { position: absolute; top: 50%; width: 100%; }
	.header-bar .banner .flexslider.none .flex-direction-nav { display: none}
	.header-bar .banner .flexslider .overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9999; background: url(../images/overlay.png) no-repeat center; background-size: 100% 100%; }
	.header-bar .flex-direction-nav a { text-decoration: none; display: block; width: 23px; height: 43px; margin: -20px 0 0; position: absolute; top: 50%; overflow: hidden; cursor: pointer; z-index: 99999; text-indent: -9999px; }
	.header-bar .flex-direction-nav .flex-prev { left: 50px; background: url(../images/left.png) no-repeat center; }
	.header-bar .flex-direction-nav .flex-next { right: 50px; background: url(../images/left.png) no-repeat center; transform:rotate(180deg); }
	.header-bar .flex-control-nav { display: none; }
	.flexslider img { width: 100%; }
	
	
	/*order passing inputs */
	.item-bar .masse .pge .try {
		font-size:18px;color:#fff;
	}
	.item-bar .masse .pge .try input{
		width:17%;
		height:30px;
	}
	.item-bar .masse .pge .try select{
		width:17%;
		height:30px;
	}
	.item-bar .masse .pge .try button{
		width:10%;
		height:30px;
		padding:10px 0px 0px -2px;
	}
	.buttons{
		width:10%;
		height:30px;
		padding:10px 0px 0px -2px;
	}
	
	/* 2nd page - about us page*/
	.header-bar .about{ width:100%; float:left; background:url(../images/about.jpg)no-repeat center top; height:300px;}
	.header-bar .about h2{ padding: 149px 20px; color: #fff; font-size: 35px; line-height: 40px; font-family: 'goldoniregular'; letter-spacing:3px; font-weight: bold; text-align:center; }
	/*2nd page */
	/*about us page*/
	.about-bar{ width:100%; float:left;}
	.about-bar .page{ padding:0px 0px; width:100%;  float:left;}
	.about-bar .page .hed{ padding:0px 0px; width:100%; float:left;}

	
	/* content */
	#content-wrap { overflow: hidden; width: 100%; }
	
		/* center */
		#center-wrap { float: left; width: 100%; }
		
		/*content bar*/
		.content-bar{ width:100%; float:left;}
		.content-bar .cont{ padding: 0px 0px 0px 0px; width:100%; float:left;  background:#fafafa;}
		.content-bar .cont .strt{ width:100%; float:left;}
		.content-bar .cont .strt .left{ padding:0px 0px; width:50%; float:left; position:relative;}
		.content-bar .cont .strt .left .overlay { opacity: 0; padding: 42px 0px; background: rgba(0,0,0,.6); position: absolute; top: 0px; left: 0px; width: 100%; height: 15%; z-index: 99; }
		.content-bar .cont .strt .left .overlay p {padding: 11px 26px 47px 21px; box-sizing: border-box; font-size: 15px; line-height: 21px; color: #fff; font-family: 'montserratbold'; text-align: center; margin: -32px 8px; border:1px dashed;}
		.content-bar .cont .strt .left:hover .overlay { opacity: 1; transition: 0.3s ease-in-out 0s; -webkit-transition: 0.3s ease-in-out 0s; -moz-transition: 0.3s ease-in-out 0s; }
		.content-bar .cont .strt .left img{ max-width:100%; }
		
		
		.content-bar .cont .strt .right{ padding:0px 0px; width:50%; float:right; position:relative;}
		.content-bar .cont .strt .right .overlay { opacity: 0; padding: 42px 0px; background: rgba(0,0,0,.6); position: absolute; top: 0px; left: 0px; width: 100%; height: 15%; z-index: 99;}
		.content-bar .cont .strt .right .overlay p {padding: 11px 26px 47px 21px; box-sizing: border-box; font-size: 15px; line-height: 21px; color: #fff; font-family: 'montserratbold'; text-align: center; margin: -32px 8px; border:1px dashed;}
		.content-bar .cont .strt .right:hover .overlay { opacity: 1; transition: 0.3s ease-in-out 0s; -webkit-transition: 0.3s ease-in-out 0s; -moz-transition: 0.3s ease-in-out 0s; }
		.content-bar .cont .strt .right img{ max-width:100%; }
		
		
		/*our product*/
		.our-bar{ width:100%; float:left;}
		.our-bar .produ{ width:100%; float:left; }
		.our-bar .produ .duct{ padding: 10px 0px; width:100%; float:left; }
        .our-bar .produ .duct h2{ padding: 45px 0px 70px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#333333; text-align:center; background:url(../images/hdd-back.png) no-repeat center top; }
		
        .our-bar .produ .duct .mainn{ padding: 60px 0px; width:100%; float:left; text-align:center; box-shadow: 1px 0px 6px -2px #000;}
		.our-bar .produ .duct .mainn .cate{  width: 20%; float:left; border:1px solid #eee; margin: 0px 10px;}
		.our-bar .produ .duct .mainn .cate ul{ list-style:none;}
		.our-bar .produ .duct .mainn .cate ul li{ padding: 12px 21px; font-family: 'playfair_displayregular'; font-size:14px; line-height:20px; border-bottom:1px solid #eee; text-align: left; }
		.our-bar .produ .duct .mainn .cate ul li:hover{ background:#6666;}
		.our-bar .produ .duct .mainn .cate ul li:nth-child(1){ margin: 0px 12px; background:url(../images/categ.png)no-repeat center left; height:17px; cursor:pointer; display:none;}
		.our-bar .produ .duct .mainn .cate ul li:nth-child(1):hover{ background:#6666;}
		.our-bar .produ .duct .mainn .cate ul li:last-child{ border:none;}
		.our-bar .produ .duct .mainn .cate ul li a{ color:#666;}
		
		.our-bar .produ .duct .mainn .sllc{ width:100%; float:left;}
		.our-bar .produ .duct .mainn .sllc .exr{ width:18%; float:left;}
		.our-bar .produ .duct .mainn .sllc .exr select{ -webkit-tap-highlight-color: transparent; background-color: #fff;
             border-radius: 5px; border: solid 1px #e8e8e8; box-sizing: border-box; clear: both; cursor: pointer;display: block; float: left; font-family: inherit; font-size: 14px; font-weight: normal; height: 42px; line-height: 40px;
             outline: none; margin-left: 10px; padding: 0px 0px 0px 15px; position: relative; text-align: left !important;-webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; width: 247px; }
 
		.our-bar .produ .duct .mainn .sllc .exr select:hover{  border-color: #dbdbdb;}
		.our-bar .produ .duct .mainn .sllc .exr select:active{ border-color: #999;}
		.our-bar .produ .duct .mainn .sllc .exr select:after{ border-bottom: 2px solid #999; border-right: 2px solid #999;     content: ''; display: block; height: 5px; margin-top: -4px; pointer-events: none; position: absolute; right: 12px; top: 50%; -webkit-transform-origin: 66% 66%; -ms-transform-origin: 66% 66%; transform-origin: 66% 66%; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 0.15s ease-in-out;transition: all 0.15s ease-in-out; width: 5px; }
	
	   .our-bar .produ .duct .mainn .sllc .exr option{ cursor: pointer; font-weight: 400; line-height: 40px; list-style: none;  min-height: 40px; outline: none; padding-left: 18px; padding-right: 29px; text-align: left; -webkit-transition: all 0.2s; transition: all 0.2s; }
		
		.our-bar .produ .duct .mainn .products{  padding: 0px 0px; width: 78%; float:left;   }
		.our-bar .produ .duct .mainn .products .bxtt{ width:23%; display:inline-block; border: 1px solid #eee; margin: -1px -1px; }
		.our-bar .produ .duct .mainn .products .bxtt:hover{ border: 1px solid #6666;}
		
		.our-bar .produ .duct .mainn .products .bxtt .immmg{ width:100%; float:left; text-align:center;  position: relative;  overflow: hidden;}
		.our-bar .produ .duct .mainn .products .bxtt .immmg a{ display:block;}
		.our-bar .produ .duct .mainn .products .bxtt .immmg img{ max-width:100%; max-height: 220px; display: inline-block; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s;}
       .our-bar .produ .duct .mainn .products .bxtt .immmg:hover img{ -moz-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);}
		
		
		.our-bar .produ .duct .mainn .products .bxtt .ext{ width:100%; float:left;}
		.our-bar .produ .duct .mainn .products .bxtt .ext h4{ padding:10px 0px; font-family: 'ralewayregular';  font-size: 13px;  color:#333333; text-align:center; }
		.our-bar .produ .duct .mainn .products .bxtt .ext p{ padding: 3px 72px; font-family: 'playfair_displayregular';  font-size:15px ; line-height:20px; color:#333333; text-align:center; display: inline-block;  border-bottom:1px solid #eee;}
		.our-bar .produ .duct .mainn .products .bxtt .ext label{ padding:0px 0px; float:left; font-family: 'arvin_regularregular'; font-size:14px;     margin: 2px 0px 1px 0px; color:#000; font-weight:bold;}
        .our-bar .produ .duct .mainn .products .bxtt .ext table{ padding: 0px 0px; display:inline-block;  border-collapse: collapse; border-bottom:1px solid #eee;}
		.our-bar .produ .duct .mainn .products .bxtt .ext th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'arvin_regularregular'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
		.our-bar .produ .duct .mainn .products .bxtt .ext td{ padding: 13px;  border-collapse: collapse; font-family: 'arvin_regularregular'; font-size: 16px; color: #666666;}
		.our-bar .produ .duct .mainn .bxtt .ext select{ padding: 1px 26px; float:left; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'arvin_regularregular'; font-size:14px; color: #000; margin: 0px 0px 0px 0px;  border-radius:5px;}
		.our-bar .produ .duct .mainn .products .bxtt .ext a{ font-family: 'arvin_regularregular'; font-size:14px; color: #000; }
		.our-bar .produ .duct .mainn .products .bxtt .pls{ padding: 9px 0px; width: 76%; float:left;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .ltt{ width: 44%; float:left;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .ltt h4{ padding:10px 0px; font-family: 'ralewayregular';  font-size:12px ; line-height:15px; color:#333333; text-align:right;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt{ padding:8px 0px; width: 49%; float:right; }
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input { position: relative; width: 100%;margin: 0 0; display:inline-block; border:1px solid; border-radius:15px;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input input { width: 69%; height: 19.923px; border: none; border-radius: 7px; background: none; text-align: center; margin: 0px 10px;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input input:focus { outline: none; }
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input .incr-btn {  padding: 0px 0px 0px 30px; display: block; position: absolute; width: 30px; height: 30px; font-size: 20px; font-weight: 300; text-align: center; line-height: 30px; top: 47%; right: 0px; margin-top: -15px;text-decoration:none; color:#000;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input .incr-btn:first-child { right: 53px; top: 44%;}
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input.count-input-sm { max-width: 125px; }
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input.count-input-sm input { height: 36px; }
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input.count-input-lg { max-width: 200px; }
		.our-bar .produ .duct .mainn .products .bxtt .pls .rtt .count-input.count-input-lg input { height: 70px;}
		.our-bar .produ .duct .mainn .products .bxtt .add{ padding: 20px 0px; width:100%; float:left;}
        .our-bar .produ .duct .mainn .products .bxtt .add a{ padding: 7px 17px 6px 18px;  font-family: 'ralewayregular'; font-size:11px ; line-height:15px; color:#333333; font-weight:bold; text-transform:uppercase; border:1px solid; border-radius: 14px; }
		.our-bar .produ .duct .mainn .products .bxtt .add a:hover{ background:#6666; color:#fff; border:1px solid;}
        
		/* how work block*/
		.how-bar{ width:100%; float:left; }
		.how-bar .work{ width:100%; float:left; background:#fafafa;}
		.how-bar .work .main{ padding:0px 0px; width:100%; float:left;}
		.how-bar .work .main h2{ padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#333333; text-align:center;}
		.how-bar .work .main .box{ padding:20px 0px; width:100%; float:left; text-align:center;}
		.how-bar .work .main .box .prt{ width: 25%; display:inline-block; margin-right:50px;}
		.how-bar .work .main .box .prt .icn{ padding:0px 0px; width:100%; float:left; text-align:center;}
		.how-bar .work .main .box .prt .icn a{ display:block;}
		.how-bar .work .main .box .prt .icn img{ max-width:100%; display: inline-block;}
		.how-bar .work .main .box .prt .txt{ padding: 25px 0px; width:100%; float:left;}
		.how-bar .work .main .box .prt .txt h3{ padding:0px 0px; font-family: 'museo_sans300'; font-size:19px;line-height: 40px; color: #666; text-align:center; }
		.how-bar .work .main .box .prt .txt p{  padding:0px 0px; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 22px; color:#8e8e8e; text-align:center;}
		.how-bar .work .main .box .prt a{  text-transform: uppercase; border: 1px solid #6666; border-radius: 25px; background-color: #ffffff; font-family: "Lato", serif; font-size: 14px; color: #6666; font-weight: 700; font-style: Bold; padding: 7px 30px 6px 32px;}
		
		/* joined bar*/
		.join-bar{ width:100%; float:left;}
		.join-bar .ed{ padding:0px 0px; width:100%; float:left;}
		.join-bar .ed .ddj{ padding: 30px 0px; width:100%; float:left;}
		.join-bar .ed .ddj h2{ padding:0px 0px; font-family: 'museo_sans300'; font-size:19px;line-height: 45px; color: #333; text-align:center; text-transform:uppercase;}
		.join-bar .ed .ddj p{ padding:0px 0px; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 22px; color:#8e8e8e; text-align:center;}
		.join-bar .ed .ddj .extt{ padding: 40px 0px; width:100%; float:left; text-align:center;}
		.join-bar .ed .ddj .extt .bxtt{ padding:0px 0px; width:23%;  display:inline-block;}
		.join-bar .ed .ddj .extt .bxtt .ignn{ width:100%; float:left; text-align:center;}
		.join-bar .ed .ddj .extt .bxtt .ignn a{ display:block;}
		.join-bar .ed .ddj .extt .bxtt .ignn img{ max-width:100%; display:inline-block;}
		.join-bar .ed .ddj .extt .bxtt .txtt{ width:100%; float:left;}
		.join-bar .ed .ddj .extt .bxtt .txtt h3{ padding:0px 0px; font-family: 'museo_sans300'; font-size:19px;line-height: 40px; color: #666; text-align:center;}
		.join-bar .ed .ddj .extt .bxtt .txtt p{ padding:0px 0px; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 22px; color:#8e8e8e; text-align:center; }
		

       /*Login page */	
        
       /*login bar*/
     .log-bar{ width:100% float:left;}
	 .log-bar .in{ padding:0px 0px; width:100%; float:left; background:url(../images/login-back.jpg) repeat-y center top; }
	 .log-bar .in .ent{ padding:0px 0px; width:100%; float:left;}
	 .log-bar .in .ent h2{padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#fff; text-align:center;}
	 .log-bar .in .ent .srt{ padding:0px 0px; width:100%; float:left; text-align: center;}
	 .log-bar .in .ent .srt label{ padding:0px 0px; font-family: 'montserratbold'; font-size:13px; color:#fff; letter-spacing:1px; float:left;}
		
	 .log-bar .in .ent .srt table{ padding:3px; display:inline-block; border-collapse: collapse; background:rgba(0,0,0,.3);}
	 .log-bar .in .ent .srt  th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
	 .log-bar .in .ent .srt  td{ padding: 10px;  border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;}
	 .log-bar .in .ent .srt select{   color: #666666; padding: 9px 20px; height: 38px; width: 276px; -webkit-appearance: none; background:#fff;  font-family: 'museo_sans100'; font-size:14px; border: 1px solid #000; margin: 0px 0px 0px -2px; border-radius:4px; }
	 .log-bar .in .ent .srt input[type="text"]{ height: 36px; width: 275px; padding: 5px 20px; margin: 0px 20px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size:14px; color: #666666; border-radius:4px;}
	 
	 .log-bar .in .ent .srt input[type="password"]{ height: 37px; width: 275px; padding: 9px 23px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size: 15px; color: #666666; margin: 0px 11px; border-radius:4px;}
	 
	  .log-bar .in .ent .smt{ padding:30px 0px;  width:100%; float:left; text-align: center; }
	  .log-bar .in .ent .smt button[type="submit"]{ padding: 5px 66px 6px 67px;  display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'montserratbold'; font-size: 16px; color: #666666; margin: 17px 9px; cursor:pointer;}
	  
	  /*Warehouse master page*/
	  
	 .ware-bar{ width:100% float:left;}
	 .ware-bar .house{ padding:0px 0px; width:100%; float:left; background:url(../images/login-back.jpg) repeat-y center top; }
	 .ware-bar .house .mass{ padding:0px 0px; width:100%; float:left;}
	 .ware-bar .house .mass h2{padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#fff; text-align:center;}
	 .ware-bar .house .mass .mai{ padding:0px 0px; width:100%; float:left; text-align: center;}
	 .ware-bar .house .mass .mai label{ padding:0px 0px; font-family: 'montserratbold'; font-size:13px; color:#fff; letter-spacing:1px; float:left;}
		
	 .ware-bar .house .mass .mai table{ padding:3px; display:inline-block; border-collapse: collapse; background:rgba(0,0,0,.3);}
	 .ware-bar .house .mass .mai  th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
	 .ware-bar .house .mass .mai  td{ padding: 10px;  border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;}
	 
	 .ware-bar .house .mass .mai input[type="text"]{ height: 36px; width: 275px; padding: 5px 20px; margin: 0px 20px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size:14px; color: #666666; border-radius:4px;}
	 .ware-bar .house .mass .mai textarea{ padding: 22px 0px 0px 23px; border: 1px solid #666666;  height: 61px; width: 250px; font-family: 'museo_sans300';  font-size:14px; color: #666666; margin: 0px 21px; border-radius:4px; }		
	 
	 .ware-bar .house .mass .wesm{ padding:30px 0px;  width:100%; float:left; text-align: center; }
	 .ware-bar .house .mass .wesm button[type="submit"]{ padding: 5px 66px 6px 67px;  display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'montserratbold'; font-size: 16px; color: #666666; margin: 17px 9px; cursor:pointer;}
	 
	 /*user master page*/
	 
	 .user-bar{ width:100% float:left;}
	 .user-bar .type{ padding:0px 0px; width:100%; float:left; background:url(../images/login-back.jpg) repeat-y center top; }
	 .user-bar .type .musr{ padding:0px 0px; width:100%; float:left;}
	 .user-bar .type .musr h2{padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#fff; text-align:center;}
	 .user-bar .type .musr .stty{ padding:0px 0px; width:100%; float:left; text-align: center;}
	 .user-bar .type .musr .stty label{ padding:0px 0px; font-family: 'montserratbold'; font-size:13px; color:#fff; letter-spacing:1px; float:left;}
		
	 .user-bar .type .musr .stty table{ padding:3px; display:inline-block; border-collapse: collapse; background:rgba(0,0,0,.3);}
	 .user-bar .type .musr .stty  th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
	 .user-bar .type .musr .stty  td{ padding: 10px;  border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;}
	 .user-bar .type .musr .stty select{   color: #666666; padding: 9px 20px; height: 38px; width: 276px; -webkit-appearance: none; background:#fff;  font-family: 'museo_sans100'; font-size:14px; border: 1px solid #000; margin: 0px 0px 0px -2px; border-radius:4px; }
	 .user-bar .type .musr .stty input[type="text"]{ height: 36px; width: 275px; padding: 5px 20px; margin: 0px 20px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size:14px; color: #666666; border-radius:4px;}
	 .user-bar .type .musr .stty textarea{ padding: 22px 0px 0px 23px; border: 1px solid #666666;  height: 61px; width: 250px; font-family: 'museo_sans300';  font-size:14px; color: #666666; margin: 0px 21px; border-radius:4px; }
	 
	 .user-bar .type .musr .stty input[type="password"]{ height: 37px; width: 275px; padding: 9px 23px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size: 15px; color: #666666; margin: 0px 11px; border-radius:4px;}
	 
	 .user-bar .type .musr .smty{ padding:30px 0px;  width:100%; float:left; text-align: center; }
	 .user-bar .type .musr .smty button[type="submit"]{ padding: 5px 66px 6px 67px;  display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'montserratbold'; font-size: 16px; color: #666666; margin: 17px 9px; cursor:pointer;}
	  
	  /*item master page*/
	  
	 .item-bar{ width:100% float:left;}
	 .item-bar .masse{ padding:0px 0px; width:100%; float:left; background:url(../images/login-back.jpg) repeat-y center top; }
	 .item-bar .masse .pge{ padding:0px 0px; width:100%; float:left;}
	 .item-bar .masse .pge h2{padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#fff; text-align:center;}
	 .item-bar .masse .pge .ttry{ padding:0px 0px; width:100%; float:left; text-align: center;}
	 .item-bar .masse .pge .ttry label{ padding:0px 0px; font-family: 'montserratbold'; font-size:13px; color:#fff; letter-spacing:1px; float:left;}
		
	 .item-bar .masse .pge .ttry table{ padding:3px; display:inline-block; border-collapse: collapse; background:rgba(0,0,0,.3);}
	 .item-bar .masse .pge .ttry  th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
	 .item-bar .masse .pge .ttry  td{ padding: 10px;  border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;}
	
	 .item-bar .masse .pge .ttry input[type="text"]{ height: 36px; width: 275px; padding: 5px 20px; margin: 0px 20px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size:14px; color: #666666; border-radius:4px;}
	 .item-bar .masse .pge .ttry textarea{ padding: 22px 0px 0px 23px; border: 1px solid #666666;  height: 61px; width: 250px; font-family: 'museo_sans300';  font-size:14px; color: #666666; margin: 0px 21px; border-radius:4px; }
	 
	
	 .item-bar .masse .pge .ismt{ padding:30px 0px;  width:100%; float:left; text-align: center; }
	 .item-bar .masse .pge .ismt button[type="submit"]{ padding: 5px 66px 6px 67px;  display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'montserratbold'; font-size: 16px; color: #666666; margin: 17px 9px; cursor:pointer;}
	  
	  /*in stoke bar page*/
	  
	 .in-bar{ width:100% float:left;}
	 .in-bar .stok{ padding:0px 0px; width:100%; float:left; background:url(../images/login-back.jpg) repeat-y center top; }
	 .in-bar .stok .okk{ padding:0px 0px; width:100%; float:left;}
	 .in-bar .stok .okk h2{padding:45px 0px; font-family: 'playfair_displayregular';  font-size:30px ; line-height:45px; color:#fff; text-align:center;}
	 .in-bar .stok .okk .stex{ padding:0px 0px; width:100%; float:left; text-align: center;}
	 .in-bar .stok .okk .stex label{ padding:0px 0px; font-family: 'montserratbold'; font-size:13px; color:#fff; letter-spacing:1px; float:left;}
		
	 .in-bar .stok .okk .stex table{ padding:3px; display:inline-block; border-collapse: collapse; background:rgba(0,0,0,.3);}
	 .in-bar .stok .okk .stex  th{ padding: 14px 56px;  border: 1px solid #666666; border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;  border-bottom:1px solid #666666; }
	 .in-bar .stok .okk .stex  td{ padding: 10px;  border-collapse: collapse; font-family: 'museo_sans300'; font-size: 16px; color: #666666;}
	 .in-bar .stok .okk .stex select{   color: #666666; padding: 9px 20px; height: 38px; width: 276px; -webkit-appearance: none; background:#fff;  font-family: 'museo_sans100'; font-size:14px; border: 1px solid #000; margin: 0px 0px 0px -2px; border-radius:4px; }
	 .in-bar .stok .okk .stex input[type="text"]{ height: 36px; width: 275px; padding: 5px 20px; margin: 0px 20px; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'museo_sans300'; font-size:14px; color: #666666; border-radius:4px;}
	 .in-bar .stok .okk .stex input[type="date"]{ padding: 0px 8px; height: 38px; width: 275px; margin: 8px 0; display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'arvin_regularregular'; font-size: 14px; color: #666666; margin: 5px 0px 0px -4px; border-radius:4px;}
	 	 
	 .in-bar .stok .okk .osmm{ padding:30px 0px;  width:100%; float:left; text-align: center; }
	 .in-bar .stok .okk .osmm button[type="submit"]{ padding: 5px 66px 6px 67px;  display: inline-block; border: 1px solid #666666; box-sizing: border-box; font-family: 'montserratbold'; font-size: 16px; color: #666666; margin: 17px 9px; cursor:pointer;}
	  
	
	/* footer wrap */
	#footer-wrap { overflow: hidden; width: 100%; }
	
	/*footer block*/
	.footer-block{ padding: 60px 0px 0px 0px; width:100%; float:left; }
	.footer-block .foot{ padding:0px 0px; width:100%; float:left; background:#eee;}
	.footer-block .foot .main{ padding:0px 0px; width:100%; float:left;}
	.footer-block .foot .main .boox{ padding: 10px 0px; width:33%; float:left; border-right:1px solid #eee; border-top:1px solid #6666; display:inline-block; box-sizing:border-box; margin: 20px 0px; border-bottom: 1px solid #6666;  }
	.footer-block .foot .main .boox h2{ padding: 6px 12px; font-family: 'ralewayregular'; font-size:14px; line-height:20px; color:#333333;   }
	.footer-block .foot .main .boox .arrn{ width:100%; float:left;}
	.footer-block .foot .main .boox .arrn ul{ list-style:none;}
	.footer-block .foot .main .boox .arrn ul li{ padding: 3px 14px; display:block; font-family: 'ralewayregular'; font-size:13px; color:#666; }
	.footer-block .foot .main .boox .arrn ul li a{ color:#6666;}
	.footer-block .foot .main .boox .arrn ul li a:hover{ color:#666; text-decoration:underline;}
	
	.footer-block .foot .main .exbx{ padding: 11px 0px 103px 0px; width:33%; float:left; border-top:1px solid #6666; display:inline-block; box-sizing:border-box; margin: 20px 0px; border-bottom: 1px solid #6666;}
	.footer-block .foot .main .exbx h2{ padding: 7px 8px; font-family: 'ralewayregular'; font-size:13px; line-height:20px; color:#333333; }
	.footer-block .foot .main .exbx .social{ width:100%; float:left; }
	.footer-block .foot .main .exbx .social ul{ list-style:none;}
	.footer-block .foot .main .exbx .social ul li{ padding:0px 5px; display:block; float:left; }
	.footer-block .foot .main .exbx .social ul li a{ display:block;}
	.footer-block .foot .main .exbx .social img{ max-width:100%; height: 42px;}
	.footer-block .scrollup{ position: fixed; bottom: 35%; right: -2px; display: block; }
	.footer-block .scrollup img{ max-width:100%; height:40px;}
	
	.footer-block .foot .main .bttm{ padding: 3px 0px 16px 0px; width:100%; float:left;}
	.footer-block .foot .main .bttm h2{ padding: 7px 8px; font-family: 'ralewayregular'; font-size:13px; line-height:20px; color:#333333; }
	.footer-block .foot .main .bttm .ext{ width:100% ;float:left;}
	.footer-block .foot .main .bttm .ext ul{ list-style:none;}
	.footer-block .foot .main .bttm .ext ul li{ padding:0px 3px; display:block; float:left; font-family: 'ralewayregular'; font-size:11px; color:#666;}
	.footer-block .foot .main .bttm .ext ul li a{ color:#666;}
	.footer-block .foot .main .bttm .ext ul li a:hover{ color:#666; text-decoration:underline;}
	
	/**/
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	w = 768
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
	w=420
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	w=300
	
	}	
			
		